data/ws-edi/BankCorporateFileService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://model.bxd.fi" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://bxd.fi/CorporateFileService" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bxd.fi/CorporateFileService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://model.bxd.fi" elementFormDefault="qualified" attributeFormDefault="qualified">
			<xsd:complexType name="RequestHeader">
				<xsd:sequence>
					<xsd:element name="SenderId" type="xsd:string" nillable="false"/>
					<xsd:element name="RequestId" type="xsd:string" nillable="false"/>
					<xsd:element name="Timestamp" type="xsd:dateTime" nillable="false"/>
					<xsd:element name="Language" type="xsd:string" nillable="true"/>
					<xsd:element name="UserAgent" type="xsd:string" nillable="true"/>
					<xsd:element name="ReceiverId" type="xsd:string" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ResponseHeader">
				<xsd:sequence>
					<xsd:element name="SenderId" type="xsd:string" nillable="false"/>
					<xsd:element name="RequestId" type="xsd:string" nillable="false"/>
					<xsd:element name="Timestamp" type="xsd:dateTime" nillable="false"/>
					<xsd:element name="ResponseCode" type="xsd:string" nillable="true"/>
					<xsd:element name="ResponseText" type="xsd:string" nillable="true"/>
					<xsd:element name="ReceiverId" type="xsd:string" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="UploadFileRequest">
				<xsd:sequence>
					<xsd:element name="RequestHeader" type="ns1:RequestHeader" nillable="false"/>
					<xsd:element name="ApplicationRequest" type="xsd:base64Binary" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="UploadFileResponse">
				<xsd:sequence>
					<xsd:element name="ResponseHeader" type="ns1:ResponseHeader" nillable="false"/>
					<xsd:element name="ApplicationResponse" type="xsd:base64Binary" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DownloadFileListRequest">
				<xsd:sequence>
					<xsd:element name="RequestHeader" type="ns1:RequestHeader" nillable="false"/>
					<xsd:element name="ApplicationRequest" type="xsd:base64Binary" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DownloadFileListResponse">
				<xsd:sequence>
					<xsd:element name="ResponseHeader" type="ns1:ResponseHeader" nillable="false"/>
					<xsd:element name="ApplicationResponse" type="xsd:base64Binary" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DownloadFileRequest">
				<xsd:sequence>
					<xsd:element name="RequestHeader" type="ns1:RequestHeader" nillable="false"/>
					<xsd:element name="ApplicationRequest" type="xsd:base64Binary" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DownloadFileResponse">
				<xsd:sequence>
					<xsd:element name="ResponseHeader" type="ns1:ResponseHeader" nillable="false"/>
					<xsd:element name="ApplicationResponse" type="xsd:base64Binary" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DeleteFileRequest">
				<xsd:sequence>
					<xsd:element name="RequestHeader" type="ns1:RequestHeader" nillable="false"/>
					<xsd:element name="ApplicationRequest" type="xsd:base64Binary" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DeleteFileResponse">
				<xsd:sequence>
					<xsd:element name="ResponseHeader" type="ns1:ResponseHeader" nillable="false"/>
					<xsd:element name="ApplicationResponse" type="xsd:base64Binary" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GetUserInfoRequest">
				<xsd:sequence>
					<xsd:element name="RequestHeader" type="ns1:RequestHeader" nillable="false"/>
					<xsd:element name="ApplicationRequest" type="xsd:base64Binary" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GetUserInfoResponse">
				<xsd:sequence>
					<xsd:element name="ResponseHeader" type="ns1:ResponseHeader" nillable="false"/>
					<xsd:element name="ApplicationResponse" type="xsd:base64Binary" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="FileServiceFaultDetail">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="category" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="code" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://bxd.fi/CorporateFileService" elementFormDefault="qualified" attributeFormDefault="qualified">
			<xsd:element name="uploadFilein" type="ns1:UploadFileRequest"/>
			<xsd:element name="uploadFileout" type="ns1:UploadFileResponse"/>
			<xsd:element name="downloadFileListin" type="ns1:DownloadFileListRequest"/>
			<xsd:element name="downloadFileListout" type="ns1:DownloadFileListResponse"/>
			<xsd:element name="downloadFilein" type="ns1:DownloadFileRequest"/>
			<xsd:element name="downloadFileout" type="ns1:DownloadFileResponse"/>
			<xsd:element name="deleteFilein" type="ns1:DeleteFileRequest"/>
			<xsd:element name="deleteFileout" type="ns1:DeleteFileResponse"/>
			<xsd:element name="getUserInfoin" type="ns1:GetUserInfoRequest"/>
			<xsd:element name="getUserInfoout" type="ns1:GetUserInfoResponse"/>
			<xsd:element name="FileServiceFaultElement" type="ns1:FileServiceFaultDetail"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="FileServiceFault">
		<wsdl:part name="FileServiceFault" element="tns:FileServiceFaultElement"/>
	</wsdl:message>
	<wsdl:message name="uploadFileResponse">
		<wsdl:part name="uploadFileout" element="tns:uploadFileout"/>
	</wsdl:message>
	<wsdl:message name="uploadFileRequest">
		<wsdl:part name="uploadFilein" element="tns:uploadFilein"/>
	</wsdl:message>
	<wsdl:message name="downloadFileListResponse">
		<wsdl:part name="downloadFileListout" element="tns:downloadFileListout"/>
	</wsdl:message>
	<wsdl:message name="downloadFileListRequest">
		<wsdl:part name="downloadFileListin" element="tns:downloadFileListin"/>
	</wsdl:message>
	<wsdl:message name="downloadFileResponse">
		<wsdl:part name="downloadFileout" element="tns:downloadFileout"/>
	</wsdl:message>
	<wsdl:message name="downloadFileRequest">
		<wsdl:part name="downloadFilein" element="tns:downloadFilein"/>
	</wsdl:message>
	<wsdl:message name="deleteFileResponse">
		<wsdl:part name="deleteFileout" element="tns:deleteFileout"/>
	</wsdl:message>
	<wsdl:message name="deleteFileRequest">
		<wsdl:part name="deleteFilein" element="tns:deleteFilein"/>
	</wsdl:message>
	<wsdl:message name="getUserInfoRequest">
		<wsdl:part name="getUserInfoin" element="tns:getUserInfoin"/>
	</wsdl:message>
	<wsdl:message name="getUserInfoResponse">
		<wsdl:part name="getUserInfoout" element="tns:getUserInfoout"/>
	</wsdl:message>
	<wsdl:portType name="CorporateFileServicePortType">
		<wsdl:operation name="uploadFile">
			<wsdl:input name="uploadFileRequest" message="tns:uploadFileRequest"/>
			<wsdl:output name="uploadFileResponse" message="tns:uploadFileResponse"/>
			<wsdl:fault name="FileServiceFault" message="tns:FileServiceFault"/>
		</wsdl:operation>
		<wsdl:operation name="downloadFileList">
			<wsdl:input name="downloadFileListRequest" message="tns:downloadFileListRequest"/>
			<wsdl:output name="downloadFileListResponse" message="tns:downloadFileListResponse"/>
			<wsdl:fault name="FileServiceFault" message="tns:FileServiceFault"/>
		</wsdl:operation>
		<wsdl:operation name="downloadFile">
			<wsdl:input name="downloadFileRequest" message="tns:downloadFileRequest"/>
			<wsdl:output name="downloadFileResponse" message="tns:downloadFileResponse"/>
			<wsdl:fault name="FileServiceFault" message="tns:FileServiceFault"/>
		</wsdl:operation>
		<wsdl:operation name="deleteFile">
			<wsdl:input name="deleteFileRequest" message="tns:deleteFileRequest"/>
			<wsdl:output name="deleteFileResponse" message="tns:deleteFileResponse"/>
			<wsdl:fault name="FileServiceFault" message="tns:FileServiceFault"/>
		</wsdl:operation>
		<wsdl:operation name="getUserInfo">
			<wsdl:input name="getUserInfoRequest" message="tns:getUserInfoRequest"/>
			<wsdl:output name="getUserInfoResponse" message="tns:getUserInfoResponse"/>
			<wsdl:fault name="FileServiceFault" message="tns:FileServiceFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CorporateFileServiceHttpBinding" type="tns:CorporateFileServicePortType">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="uploadFile">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="uploadFileRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="uploadFileResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FileServiceFault">
				<wsdlsoap:fault name="FileServiceFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="downloadFileList">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="downloadFileListRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="downloadFileListResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FileServiceFault">
				<wsdlsoap:fault name="FileServiceFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="downloadFile">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="downloadFileRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="downloadFileResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FileServiceFault">
				<wsdlsoap:fault name="FileServiceFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteFile">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="deleteFileRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteFileResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FileServiceFault">
				<wsdlsoap:fault name="FileServiceFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getUserInfo">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getUserInfoRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getUserInfoResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FileServiceFault">
				<wsdlsoap:fault name="FileServiceFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CorporateFileService">
		<wsdl:port name="CorporateFileServiceHttpPort" binding="tns:CorporateFileServiceHttpBinding">
			<wsdlsoap:address location="https://businessws.sampopankki.fi/edifileservice/edifileservice.asmx"/>
			<wsdl:documentation>This address is meant to handle SOAP message smaller than 20MB. When doing development and debugging, this address should be used.</wsdl:documentation>
		</wsdl:port>
		<wsdl:port name="CorporateFileServiceHttpPort2" binding="tns:CorporateFileServiceHttpBinding">
			<wsdlsoap:address location="https://businessws.danskebank.com/financialservice/edifileservice.asmx"/>
			<wsdl:documentation>This address can handle files larger than 20MB.</wsdl:documentation>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
